{% extends 'content/layout.html.twig' %}
{% block content %}
	<h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>

{{ team.team_name }}

	{# <div
		class="soccerteam-info">

		{# <p>{{ dump(teams) }}</p> #}
        {# <h1> Teams </h1>
        <ul>
		{% for team in teams %}
			<li>{{ team.team_name }}</li>
		{% endfor %}
        </ul>
	</div> #}
{% endblock %}

{# team.player.name #}